.header{
    background: #B5B5B5;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 1em 1em 1em;

        &__menu, &{

        }
        &__img{
        }
        &__icons{
            &__search{
                
            }
            &__basket{
                
            }
        }
    }
    &__content{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: var(--white);
        margin-block: 1em;

        &__subtitle{
            font-size: 0.8em;
            font-weight: 600;
            letter-spacing: 0.3em;
            margin-bottom: 1em;
        }

        &__title{
            padding: 0 1em 0 1em;
            font-weight: 300;
            font-size: 1.42em;
            margin-bottom: 1em;
        }

        &__btn{
            border: 0.2em solid var(--white) !important;
            border-radius: 0 !important;
            color: var(--white) !important;
            font-size: 0.8em;
            font-weight: 700;
            padding: 0.7em 3em 0.7em 3em !important;
            background: none; 
            cursor: pointer;
        }
    }
}

.card{
    width: 98%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;

    &__text{
        background: var(--yellow);
        padding: 1em 1em 0 1em;
        color: var(--white);
        z-index: 1 !important;

        &__line{
            display: flex;
            height: 0.2em;
            width: 6em;
            margin-bottom: 1em;
            background: var(--white);
        }

        &__title{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 1em;

            &__logo{
                margin-right: 0.8em;
            }
            &__text{
                font-weight: 300 !important;
                font-size: 1.6em;
            }
        }
        
        &__text{
            margin-bottom: 1em;
            font-size: 1.2em;
        }
        
        &__btn{
            width: 100%;
            color: var(--white) !important;
            border: 0.1em solid var(--white) !important;
            border-radius: 0 !important;        
            margin-bottom: 2em !important;
            letter-spacing: 0.2em !important;
            font-size: 0.8em !important;
        }
    }
    &__img{
        margin: -1.35em auto;
        &__img{
            width: 102%;
            margin-left: -1%;
            padding: 0;
            z-index: -1;
        }
    }
}

.featured{
    // outline: 1px solid red;
    &__collection{
        // outline: 1px solid blue;
        &__grid{
            &__single{
                margin-block: 100px;
            }
        }
    }
}

.icons{
    color: var(--white) !important;
    cursor: pointer;
}