.header {
  background: #B5B5B5;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1em 1em 1em;
}
.header__content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--white);
  margin-block: 1em;
}
.header__content__subtitle {
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.3em;
  margin-bottom: 1em;
}
.header__content__title {
  padding: 0 1em 0 1em;
  font-weight: 300;
  font-size: 1.42em;
  margin-bottom: 1em;
}
.header__content__btn {
  border: 0.2em solid var(--white) !important;
  border-radius: 0 !important;
  color: var(--white) !important;
  font-size: 0.8em;
  font-weight: 700;
  padding: 0.7em 3em 0.7em 3em !important;
  background: none;
  cursor: pointer;
}

.card {
  width: 98%;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
}
.card__text {
  background: var(--yellow);
  padding: 1em 1em 0 1em;
  color: var(--white);
  z-index: 1 !important;
}
.card__text__line {
  display: flex;
  height: 0.2em;
  width: 6em;
  margin-bottom: 1em;
  background: var(--white);
}
.card__text__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}
.card__text__title__logo {
  margin-right: 0.8em;
}
.card__text__title__text {
  font-weight: 300 !important;
  font-size: 1.6em;
}
.card__text__text {
  margin-bottom: 1em;
  font-size: 1.2em;
}
.card__text__btn {
  width: 100%;
  color: var(--white) !important;
  border: 0.1em solid var(--white) !important;
  border-radius: 0 !important;
  margin-bottom: 2em !important;
  letter-spacing: 0.2em !important;
  font-size: 0.8em !important;
}
.card__img {
  margin: -1.35em auto;
}
.card__img__img {
  width: 102%;
  margin-left: -1%;
  padding: 0;
  z-index: -1;
}

.featured {
  width: 94%;
  margin: 0 auto 2em auto;
}
.featured__title {
  font-size: 0.5em;
  letter-spacing: 0.6em;
}
.featured__subtitle {
  margin: 0.5em 0 -2em 0;
  font-size: 1.4em;
}
.featured__collection__grid__single {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 282px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--black);
}
.featured__collection__grid__single__line {
  margin-top: 4em;
  transform: translate(1.21em, -0.6em);
  height: 0.2em;
  width: 6em;
  background: var(--white);
}
.featured__collection__grid__single__category {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 1em;
  font-weight: 400;
  font-size: 1.2em;
  display: flex;
}
.featured__collection__grid__single__title {
  font-weight: 300;
  font-size: 1.6em;
  margin-left: 0.75em;
}
.featured__collection__grid__single__tags {
  display: flex;
  font-size: 0.7em;
  margin-left: 1.73em;
}
.featured__collection__grid__single__margin {
  margin-top: 9em;
}

.product {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2em;
}
.product__title {
  margin-left: 3%;
  font-size: 0.5em;
  letter-spacing: 0.6em;
  font-weight: 500;
}
.product__subtitle {
  margin: 0 0 1em 3%;
  font-weight: 300;
  font-size: 1.2em;
}
.product__card {
  color: var(--white);
  width: 100%;
  margin: 0 auto 1.2em auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product__card__single {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 48%;
  height: 6em;
  margin-bottom: 1em;
}
.product__card__single p {
  max-width: 80%;
}
.product__large {
  width: 100%;
  height: 15em;
  background: #938F8D;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product__large__line {
  margin-top: 6em;
  transform: translate(1em, -0.3em);
  height: 0.2em;
  width: 9em;
  background: var(--white);
}
.product__large p {
  font-size: 0.8em;
  margin: 0 0 0.5em 1.2em;
}
.product__large h4 {
  font-size: 1.4em;
  font-weight: 300;
  margin: 0 0 0 0.64em;
}

.footer {
  width: 100%;
  margin: 0 auto;
  background: var(--brown);
  color: var(--white);
}
.footer__top {
  padding: 1em;
  background: #36281B;
}
.footer__top p {
  font-size: 0.8em;
}
.footer__top h4 {
  font-size: 1.4em;
  font-weight: 300;
  width: 75%;
  margin-bottom: 1em;
}
.footer__top__cta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.footer__top__cta__input {
  border-radius: 0;
  background: var(--white);
  border: 0;
  height: 2.5em;
  width: 60%;
}
.footer__top__cta__btn {
  border: 0.1em solid var(--white) !important;
  border-radius: 0 !important;
  color: var(--white) !important;
  font-size: 0.8em !important;
  font-weight: 400 !important;
  padding: 0.7em 3em 0.7em 3em !important;
  background: none;
  cursor: pointer;
  width: 36%;
  height: 2.6em !important;
}
.footer__bottom {
  padding: 1em;
}
.footer__bottom__cta {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 1em;
}
.footer__bottom__pride {
  margin: 0 1em 1em 0;
  font-weight: 300;
}
.footer__bottom__socials {
  width: 80%;
  margin-bottom: 1.6em;
  display: flex;
  justify-content: space-between;
}
.footer__bottom__customer {
  display: flex;
  font-weight: 300;
  font-size: 0.8em;
  margin-bottom: 1em;
}
.footer__bottom__phone, .footer__bottom__email {
  display: flex;
  color: var(--white);
  text-decoration: none;
  width: 100%;
}
.footer__bottom__phone {
  margin-bottom: 0.5em;
}
.footer__bottom__email {
  margin-bottom: 1.2em;
}
.footer__bottom__infoTitle, .footer__bottom__aboutTitle {
  margin-bottom: 0.8em;
  font-weight: 300;
}
.footer__bottom__infoPages, .footer__bottom__aboutPages {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.footer__bottom__infoPages a, .footer__bottom__aboutPages a {
  color: var(--white);
  text-decoration: none;
  margin-bottom: 0.5em;
  font-weight: 300;
}
.footer__bottom__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__bottom__logo img {
  margin-right: 1em;
  width: 8%;
}
.footer__bottom__logo p {
  font-weight: 300;
  font-size: 0.8em;
}

.icons {
  color: var(--white) !important;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */